<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="springfield">
      <section name="settings" type="MSRA.SpringField.Components.Configuration.SiteConfigurationHandler, MSRA.SpringField.Components"/>
    </sectionGroup>
      <!--log4net-->
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>  
  </configSections>

  <appSettings >
    <add key="IS_ENABLE_REQUIRED_CHECKING" value="false"/>
    <add key="IS_ENABLE_EMAIL_CHECKING" value="false"/>
    <add key="IS_ENABLE_POSITION_CHECKING" value="false"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="PERSONHuman" connectionString="Data Source=msra-spfield;Initial Catalog=springfield_current;Persist Security Info=True;User ID=compass;Password=We're#1!"/>
    <add name="SpringfieldMembership" connectionString="Data Source=msra-spfield;Initial Catalog=springfield_current;Persist Security Info=True;User ID=compass;Password=We're#1!" />

    <add name="MSRA.Springfield.IntegrationWorkflow.Properties.Settings.test_springfield_0930ConnectionString"
            connectionString="Data Source=msra-spfield01;Initial Catalog=integration_springfield_0413;Persist Security Info=True;User ID=compass;Password=We're#1!"
            providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer" connectionString="Data Source=msra-spfield;Initial Catalog=springfield_current;Persist Security Info=True;User ID=compass;Password=We're#1!" />
  </connectionStrings>
  
  <springfield>
    <settings webResource="~/SiteResource.xml"
              localResource="SiteResource.xml"
              defaultDataProvider="SqlDataProvider"
              defaultLanguage="en-us"
              smtpServer="msrcnxb"
              mailMessageQueue=""
              searchService="msra-spfield"
              searchServicePort="8889"
              siteUrl="http://msra-spfield/springfield/"
              emailExt="@microsoft.com"
              systemSender="msraih@microsoft.com"
              internRecruiterMail="wenchen@microsoft.com"
              docPath="D:\\DevSpace\\My Project\\SpringField\\Coding\\doc\\"
              docUrl="http://msra-spfield/docs/"
              keyinSite="http://localhost:8012/SpringField/Keyin/"
              boardMailToAlias="v-felia"
              boardMailToName="Fei Liang"
              cacheExpiration="20"
              InternPASite="http://localhost:37543/PA-Intern/Default.aspx"
              MentorPADays="30">
      <dataProviders>
        <clear />        
        <add name="SqlDataProvider" type="MSRA.SpringField.Foundation.SqlDataProvider, MSRA.SpringField.Foundation" 
             connectionString="Data Source=msra-spfield;Initial Catalog=springfield_current;Persist Security Info=True;User ID=compass;Password=We're#1!" dbOwner="dbo" />
      </dataProviders>
    </settings>
  </springfield>
  
  <!--log4net-->
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">      
      <param name="File" value="log/integration_log.txt"/>
      <param name="datePattern" value="MM-dd HH:mm"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\integration_log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>

  <system.web>

    <membership defaultProvider="SpringfieldProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SpringfieldProvider" type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="SpringfieldMembership" 
             applicationName="Springfield" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="true" 
             passwordFormat="Hashed" 
             minRequiredNonalphanumericCharacters="0" 
             minRequiredPasswordLength="3"/>
      </providers>
    </membership>
  </system.web>
</configuration>