<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logFileName" value="D:\SpringfieldMailSender\MailSender.log"/>
    <add key="logFileSize" value="50"/>
    
    <add key="connectionString" value="Data Source=jnm8c2x\sqlexpress;Initial Catalog=springfield_current;Persist Security Info=True;User ID=sa;Password=5798031Wu"/>
    <add key="checkUnsentMailInterval" value="0:0:30:0"/>
    <add key="checkUnfinishedInterviewInterval" value="1:0:0:0"/>
    <add key="checkUnfinishedInterviewDelay" value="0:0:0:0"/>
    
    <add key="internRecruiter" value="msraih@microsoft.com"/>

    <add key="senderAddress" value="msraih@microsoft.com"/>
    <add key="senderName" value="msraih"/>
    <add key="senderPassword" value="URSPRINGFIeld2011"/>
    <add key="senderDomain" value="fareast"/>
    
    <add key="mailExt" value="@microsoft.com"/>
    <add key="mailServer" value="smtphost.dns.microsoft.com"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
