<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="springfield">
      <section name="settings" type="MSRA.SpringField.Components.Configuration.SiteConfigurationHandler, MSRA.SpringField.Components" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Modify by Yuanqin 2011.1.5 可以模拟用户登录之后的情况，线上慎用！-->
    <add key="current_user_test" value="fareast\a-jcao" />
    <add key="enable_test_account" value="true" />
    <add key="enable_keyintool" value="false" />

    <!-- Modify by Mingming Lou 2012.7.17 以下为邮件发送服务的配置文件 -->
    <add key="logFileName" value="E:\SpringfieldMailSender\MailSender.log" />
    <add key="logFileSize" value="10" />

    <!--<add key="mailServer" value="smtphost.dns.microsoft.com"/>-->
    <add key="mailServer" value="smtphost.redmond.corp.microsoft.com" />
    <add key="internRecruiter" value="iegtmts@microsoft.com" />
    <add key="mailExt" value="@microsoft.com" />

    <!-- 以下为发送邮件的账号，服务器还是mailServer -->
    <add key="senderAddress" value="iegtmts@microsoft.com" />
    <add key="senderName" value="iegtmts" />
    <add key="senderPassword" value="&amp;)Vemb3r" />
    <add key="senderDomain" value="fareast" />
  </appSettings>

  <connectionStrings>
    <clear />

    <!-- ChinaSoft-->
    <!--<add name="SpringfieldMembership" connectionString="Data Source=msraqa02\msraqa02;Initial Catalog=SpringFieldTestDB;user=sa;password=hello1234!" />
    <add name="dev_springfield_0930ConnectionString" connectionString="Data Source=msraqa02\msraqa02;Initial Catalog=SpringFieldTestDB;user=sa;password=hello1234!" providerName="System.Data.SqlClient" />
    <add name="springfield_currentConnectionString" connectionString="Data Source=msraqa02\msraqa02;Initial Catalog=SpringFieldTestDB;user=sa;password=hello1234!" providerName="System.Data.SqlClient" />-->
    <!-- END ChinaSoft-->

    <!-- Local-->
     <add name="SpringfieldMembership" 
         connectionString="Data Source=1RZH122;Initial Catalog=springfield_current;Persist Security Info=True;User ID=sa;Password=5798031Wu" />
    <add name="dev_springfield_0930ConnectionString" 
         connectionString="Data Source=1RZH122;Initial Catalog=springfield_current;Persist Security Info=True;User ID=sa;Password=5798031Wu"
         providerName="System.Data.SqlClient" />
    <add name="springfield_currentConnectionString" 
         connectionString="Data Source=1RZH122;Initial Catalog=springfield_current;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     
    <!-- END local-->
  

    <!-- Remote-->
    <!--   <add name="springfield_currentConnectionString" 
         connectionString="Data Source=msra-spfield;Initial Catalog=springfield_current;Persist Security Info=True;User ID=springfield;Password=springfield" />
    <add name="SpringfieldMembership"               
         connectionString="Data Source=msra-spfield;Initial Catalog=springfield_current;Persist Security Info=True;User ID=springfield;Password=springfield" />
    <add name="dev_springfield_0930ConnectionString" 
         connectionString="Data Source=msra-spfield;Initial Catalog=springfield_current;Persist Security Info=True;User ID=springfield;Password=springfield" 
         providerName="System.Data.SqlClient" />       -->
    <!--    END Remote-->

  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="SpringfieldSecurityModule" type="MSRA.SpringField.Components.HttpModule.SiteSecurityModule, MSRA.SpringField.Components" />
    </httpModules>
    <membership defaultProvider="SpringfieldProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SpringfieldProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SpringfieldMembership" applicationName="Springfield" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="3" />
      </providers>
    </membership>
    <roleManager defaultProvider="SpringfieldRoles" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="SpringfieldRoles" type="System.Web.Security.SqlRoleProvider" connectionStringName="SpringfieldMembership" applicationName="Springfield" />
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="10240" requestLengthDiskThreshold="100" />
    <identity impersonate="false" />
  </system.web>
  <springfield>
    <settings webResource="~/SiteResource.xml"

		localResource="SiteResource.xml"
		defaultDataProvider="SqlDataProvider"
		defaultLanguage="en-us"
		smtpServer="msrcnxb"
		mailMessageQueue=""
		searchService="msra-spfield"
		searchServicePort="8889"
		siteUrl="//msraqa02:8091/"
		emailExt="@microsoft.com"
		systemSender="iegtmts@microsoft.com"
		internRecruiterMail="iegtmts@microsoft.com"
		docPath="D:\\MSRATMT\\SpringField\\Springfield_Tool\\docs"
		docUrl="http://msraqa02:37543/docs/"
		keyinSite="http://msraqa02:8091/Keyin/"
		boardMailToAlias="v-xiaqin"
		boardMailToName="Xiangmei Qin"
		cacheExpiration="20"
		InternPASite="http://localhost:37543/PA-Intern/Default.aspx"
		InternSurveySite="http://localhost:37543/PA-Intern/InputSurvey.aspx"
		MentorPADays="30">
      <dataProviders>
        <clear />

        <!--local-->
        <add name="SqlDataProvider" type="MSRA.SpringField.Foundation.SqlDataProvider, MSRA.SpringField.Foundation" connectionString="Data Source=1RZH122;Initial Catalog=springfield_current;Persist Security Info=True;User ID=sa;Password=5798031Wu" dbOwner="dbo"/>
     <!--   <add name="SqlDataProvider" type="MSRA.SpringField.Foundation.SqlDataProvider, MSRA.SpringField.Foundation" connectionString="Data Source=msraqa02\msraqa02;Initial Catalog=SpringFieldTestDB;user=sa;password=hello1234!" dbOwner="dbo" />
-->

      </dataProviders>
    </settings>
  </springfield>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
