<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="springfield">
			<section name="settings" type="MSRA.SpringField.Components.Configuration.SiteConfigurationHandler, MSRA.SpringField.Components"/>
		</sectionGroup>
	</configSections>
	<springfield>
		<settings webResource="~/SiteResource.xml" 
              localResource="SiteResource.xml" 
              defaultDataProvider="SqlDataProvider" 
              defaultLanguage="en-us" 
              smtpServer="msrcnxb" 
              mailMessageQueue="" 
              searchService="msra-spfield" 
              searchServicePort="8889"  
              siteUrl="http://msra-spfield/springfield/" 
              emailExt="@microsoft.com" 
              systemSender="msraih@microsoft.com" 
              internRecruiterMail="v-mwchen@microsoft.com" 
              docPath="D:\SpringField\TestRumcollector\doc" 
              docUrl="http://msra-spfield/docs/" 
              keyinSite="http://msra-spfield/keyin/" 
              cacheExpiration="20">
			<dataProviders>
				<clear/>
				<add name="SqlDataProvider" type="MSRA.SpringField.Foundation.SqlDataProvider, MSRA.SpringField.Foundation" connectionString="Data Source=jnm8c2x\sqlexpress;Initial Catalog=springfield;Persist Security Info=True;User ID=sa;Password=5798031Wu" dbOwner="dbo"/>
			</dataProviders>
		</settings>
	</springfield>
	<appSettings>
    <add key="Mail4Log" value="false"/>
		<add key="ProjectResource" value="ProjectResource.xml"/>
		<add key="ResumeMapping" value="ResumeMapping.xml" />
		<add key="ResumeLocation" value="D:\SpringField\TestRumcollector\Input" />
		<add key="ArchiveLocation" value="D:\SpringField\TestRumcollector\Success" />
		<add key="FailedLocation" value="D:\SpringField\TestRumcollector\Failed" />
		<add key="LogLocation" value="D:\SpringField\TestRumcollector\Log" />
		<add key="CreateNewArchiveFolder" value="True" />
		<add key="CreateNewFailedFolder" value="False" />
		<add key="Notifier" value="v-yipu@microsoft.com" />
		<add key="Receiver" value="v-yipu@microsoft.com" />
		<add key="ResumePassword" value="We're#1!" />
		<add key="DurationNum" value="1"/>
		<add key="DurationSpan" value="0"/>
		<add key="StartTime" value="0"/>
		<add key="TextBoxHandler" value="ResumeCollector.ResumeHelper.TextBoxHandler" />
		<add key="ComboBoxHandler" value="ResumeCollector.ResumeHelper.ComboBoxHandler" />
		<add key="StringComboBoxHandler" value="ResumeCollector.ResumeHelper.StringComboBoxHandler" />
		<add key="OptionGroupHandler" value="ResumeCollector.ResumeHelper.OptionGroupHandler" />
		<add key="CollegeSelectorHandler" value="ResumeCollector.ResumeHelper.CollegeSelectorHandler" />
		<add key="EnumComboBoxHandler" value="ResumeCollector.ResumeHelper.EnumComboBoxHandler" />
		<add key="InternAdvisorObjectHandler" value="ResumeCollector.ResumeHelper.InternAdvisorObjectHandler" />
		<add key="GradeObjectHandler" value="ResumeCollector.ResumeHelper.GradeObjectHandler" />
		<add key="JobInfoChannelHandler" value="ResumeCollector.ResumeHelper.JobInfoChannelHandler" />
		<add key="JobInfoDetailHandler" value="ResumeCollector.ResumeHelper.JobInfoDetailHandler" />
		<add key="JobInfoSourceHandler" value="ResumeCollector.ResumeHelper.JobInfoSourceHandler" />
		<add key="ResumeUploaderHandler" value="ResumeCollector.ResumeHelper.ResumeUploaderHandler" />
		<add key="PaperUploaderHandler" value="ResumeCollector.ResumeHelper.PaperUploaderHandler" />
		<add key="StringCheckBoxGroupHandler" value="ResumeCollector.ResumeHelper.StringCheckBoxGroupHandler"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="SpringfieldMembership" connectionString="Data Source=jnm8c2x\sqlexpress;Initial Catalog=springfield;Persist Security Info=True;User ID=sa;Password=5798031Wu"/>
	</connectionStrings>
	<system.web>
		<membership defaultProvider="SpringfieldProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="SpringfieldProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SpringfieldMembership" applicationName="Springfield" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="3"/>
			</providers>
		</membership>
		<roleManager defaultProvider="SpringfieldRoles" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear/>
				<add name="SpringfieldRoles" type="System.Web.Security.SqlRoleProvider" connectionStringName="SpringfieldMembership" applicationName="Springfield"/>
			</providers>
		</roleManager>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network
				  host="msrcnxb"
				  port="25"
				  defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>